.underlineable-label:hover {
  -fx-underline: true;
}
.transparent-button {
  -fx-background-color: transparent;
}
.transparent-button:focused {
  -fx-underline: true;
}
.transparent-button:hover {
  -fx-underline: true;
}